// Add other styles here

.table thead th {
    border-top-width: 0;
    text-align: center;
}
tbody td {
    text-align: right;
}
.box-spinner {
    left: 50%;
    margin-left: -1em;
    top: 50%;
}
.react-datetime-picker__wrapper {
    @extend .rounded;
    @extend .border;
    padding: 0.2rem;
}